*{
    margin: 0;
    padding: 0;
}
button, input, textarea{
    outline: none;
    border: none;
}
.blockquote-footer{
    font-size: large;
    color: black;
}
/*outer {title, intro}*/
#outer{
    background-image: url('../img/bgDecorate.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
#title{
    text-align: center;
}

#intro{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
}
#intro div{
    text-align: center;
    width: 100%;
}
#intro div p{
    font-weight: lighter;
}
#intro-span{
    font-weight: 900;
    text-decoration: underline;
}
/* menu */
#menu{
    display: flex;
    flex-wrap: wrap;
}
#menu > div{
    border: 1px solid lightgrey;
    width: 32%;
    margin: 8px;
    padding: 25px;
}
/* rating_container */
#rating_container{
    display: table;
    width:100%;
}
#rating_div{
    display: table-cell;
    vertical-align: middle;
}
#rating_div > i{
    color: rgb(55, 224, 92);
}
#rating_div > a:hover{
    cursor: pointer;
}
/* object */
#object{
    display: flex;
    width: 100%;

}
/* #object > div{
    border-radius: 50%;
    font-size: x-large;
    width: 20%;
    margin: 5px auto;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#object > div > img{
    border: 1px solid lightgrey;
}
#object > div > a{
    text-decoration: none;
    color: black;
}
#object > div:hover{
    cursor: pointer;
    opacity: 0.5;
} */
/* contact */
#contact{
    display: flex;
}
#contact > div{
    border: 1px solid lightgrey;
    margin: 5px;
    padding: 15px;
    width: 100%;
}
/* cmtFrame */
#cmt{
    margin: 5px;
    display: flex;
    line-height: 1.2em;
}
/*Snow animation*/
/* .snow{
    position: absolute;
    top: -2%;
    color: aquamarine;
    animation: topToBottom ease 4s;
    animation-iteration-count: infinite;
}
#snow2{
    left: 5%;
    animation-delay: 0.5s;
}
#snow3{
    left: 10%;
    animation-delay: 1s;
}
#snow4{
    left: 15%;
    animation-delay: 1.5s;
}
#snow5{
    left: 20%;
    animation-delay: 2s;
}
#snow6{
    left: 25%;
}
#snow7{
    left: 30%;
    animation-delay: 0.6s;
}
#snow8{
    left: 35%;
    animation-delay: 1.1s;
}
#snow9{
    left: 40%;
    animation-delay: 1.6s;
}
#snow10{
    left: 45%;
    animation-delay: 2.1s;
}
#snow11{
    left: 50%;
}
#snow12{
    left: 55%;
    animation-delay: 0.7s;
}
#snow13{
    left: 60%;
    animation-delay: 1.2s;
}
#snow14{
    left: 65%;
    animation-delay: 1.7s;
}
#snow15{
    left: 70%;
    animation-delay: 2.2s;
}
#snow16{
    left: 75%;
}
#snow17{
    left: 80%;
    animation-delay: 0.8s;
}
#snow18{
    left: 85%;
    animation-delay: 1.3s;
}
#snow19{
    left: 90%;
    animation-delay: 1.8s;
}
#snow20{
    left: 95%;
    animation-delay: 2.3s;
}
#snow21{
    left: 99%;
}
#snow22{
    left: 2.5%;
    animation-delay: 2.5s;
}
#snow23{
    left: 7.5%;
    animation-delay: 3s;
}
#snow24{
    left: 12.5%;
    animation-delay: 3.5s;
}
#snow25{
    left: 17.5%;
    animation-delay: 4s;
}
#snow26{
    left: 22.5%;
    animation-delay: 2.5s;
}
#snow27{
    left: 27.5%;
    animation-delay: 3s;
}
#snow28{
    left: 32.5%;
    animation-delay: 3.5s;
}
#snow29{
    left: 37.5%;
    animation-delay: 4s;
}
#snow30{
    left: 42.5%;
    animation-delay: 2.5s;
}
#snow31{
    left: 47.5%;
    animation-delay: 3s;
}
#snow32{
    left: 52.5%;
    animation-delay: 3.5s;
}
#snow33{
    left: 57.5%;
    animation-delay: 4s;
}
#snow34{
    left: 62.5%;
    animation-delay: 2.5s;
}
#snow35{
    left: 67.5%;
    animation-delay: 3s;
}
#snow36{
    left: 72.5%;
    animation-delay: 3.5s;
}
#snow37{
    left: 77.5%;
    animation-delay: 4s;
}
#snow38{
    left: 82.5%;
    animation-delay: 2.5s;
}
#snow39{
    left: 87.5%;
    animation-delay: 3s;
}
#snow40{
    left: 92.5%;
    animation-delay: 3.5s;
}
#snow41{
    left: 97.5%;
    animation-delay: 4s;
}
@keyframes topToBottom {
0% {
top: 0%;
}
100% {
top: 395%;
}
} */